@model CI.Models.TimesheetViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var id = Context.Session.GetString("userID");


}
@{
    Layout = "_navbar2";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/Volunteeringtimesheet.css" asp-append-version="true" />
</head>
<body>
    <div class="container timesheet">


        <div class="row ">
            <label class="fs-4"> Volunteering Timesheet</label>
        </div>

        <div class="row  d-flex justify-content-center   ">
            <div class="col-12 col-xl-5 col-lg-5 mt-4  borderbox rounded-2 shadow-lg">
                <div class="row  cardtitleborder ">
                    <div class="col-8 d-flex  align-items-center">
                        <label class="fs-5"> Volunteering Hour</label>
                    </div>
                    <div class="col-4">
                        <button class="rounded-pill d-flex justify-content-center align-items-center ms-auto  py-2 px-4 me-2 my-2 addbtn" data-bs-toggle="modal" data-bs-target="#TimeADDbtn">
                            <i class="bi bi-plus-lg me-2 "></i>
                            <span>  ADD</span>

                        </button>
                        <div class="modal fade" id="TimeADDbtn" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog  modal-dialog-centered">
                                <div class="modal-content">
                                    <form asp-action="AddTimeMIssionTimesheet" asp-controller="Volunteering" method="post">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Please input below Volunteering Hours</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">

                                                <div class="row">
                                                    <lable class="col-6 fs-6">Mission</lable>
                                                    <select asp-for="missionId" class=" datediv  py-1 ro col-12" aria-label="Default select example">
                                                        @foreach (var item in Model.MissionApplications)
                                                        {
                                                            @if (item.Mission.MissionType == "Time")
                                                            {
                                                                <option for  value="@item.Mission.MissionId" > @item.MissionId @item.Mission.Title</option>

                                                            }
                                                        }
                                                    </select>

                                                </div>
                                                <div class="row mt-2">
                                                    <lable class="col-6 fs-6">Date Volunteered</lable>
                                                    <input asp-for="date" class="col-12  datediv py-1 rounded-1" type="datetime-local" />
                                                </div>
                                                <div class="row mt-1 ">
                                                    <div class=" col-12 col-xl-6 col-1g-6 p-0">
                                                        <label class=" col-8 fs-6"> Hours</label>
                                                        <input asp-for="hours"  type="number" min="0" max="23" placeholder="Enter Spent Hours " class="py-1 datediv rounded-1 w-100 " />

                                                    </div>
                                                    <div class=" col-12 col-xl-6 col-1g-6 p-0  ">
                                                        <label class=" col-8 fs-6"> Minutes</label>
                                                        <input asp-for="minutes" type="number" min="0" max="59" placeholder="Enter Spent Minutes " class=" ms-0 ms-xl-2  py-1 datediv rounded-1   w-100  me-2" />
                                                    </div>
                                                </div>
                                                <div class="row mt-1">
                                                    <label class=" col-8 fs-6"> Enter Your Message</label>

                                                    <textarea asp-for="message" class=" datediv rounded-1 mt-1 " placeholder="Leave a comment here" id="floatingTextarea"></textarea>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="rounded-pill bg-white px-3 py-1" data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="rounded-pill addbtn  px-3 py-1">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="row overflow-y-auto " id="detail1" style="height:300px;">
                    <table class="table table-borderless ">
                        <thead>
                            <tr>
                                <th scope="col">Mission</th>
                                <th scope="col">Date </th>
                                <th scope="col">Hour</th>
                                <th scope="col">Minute</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach(var k in Model.timesheetslist)
                            {
                                @if(k.TimesheetTime!=null && k.DeletedAt==null)
                                {
                                    

                            <tr>

                                <td> @k.Mission.Title</td>
                                <td>@k.DateVolunteered.ToString().Split(" ")[0]</td>
                                <td> @k.TimesheetTime.Split(":")[0]</td>
                                        <td> @k.TimesheetTime.Split(":")[1]</td>
                                <td class="d-flex align-items-center mt-1"> <i class="bi bi-pencil-square editimg"  class ="@k.TimesheetId" onclick="Editdata(@id)"></i></td>
                                        <td> <img src="~/images/bin.png" id="@k.TimesheetId" onclick="deletedata(this.id)"/></td>
                            </tr>
                                }
                            }

                        </tbody>

                    </table>
                </div>


            </div>



            <div class="col-12 col-xl-5 col-lg-5   ms-0 ms-xl-4 ms-lg-4 mt-4 borderbox rounded-2 shadow-lg">
                <div class="row cardtitleborder">
                    <div class="col-8  d-flex  align-items-center">
                        <label class="fs-5"> Volunteering Hour</label>
                    </div>
                    <div class="col-4">
                        <button class="rounded-pill d-flex justify-content-center align-items-center py-2 px-4 ms-auto me-2 my-2  addbtn" data-bs-toggle="modal" data-bs-target="#GoalADDbtn">
                            <i class="bi bi-plus-lg me-2 "></i>
                            <span>  ADD</span>

                        </button>
                        <div class="modal fade" id="GoalADDbtn" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog  modal-dialog-centered">
                                <div class="modal-content">
                                    <form asp-action="AddTimeMIssionTimesheet" asp-controller="Volunteering" method="post">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Please input below Volunteering Goal</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">
                                                <div class="row">
                                                    <lable class="col-6 fs-6">Mission</lable>
                                                    <select asp-for="missionId" class=" datediv  py-1 ro col-12" aria-label="Default select example">
                                                        @foreach (var item in Model.MissionApplications)
                                                        {
                                                            @if (item.Mission.MissionType == "Goal")
                                                            {
                                                                <option value="@item.Mission.MissionId"> @item.MissionId @item.Mission.Title</option>

                                                            }
                                                        }
                                                    </select>

                                                </div>
                                                <div class="row mt-2">
                                                    <lable class="col-6 fs-6">Action</lable>
                                                    <input asp-for="action" class="col-12  datediv py-1 rounded-1" placeholder="Enter Actions" type="number" />
                                                </div>
                                                <div class="row mt-1 ">

                                                    <label class=" col-8 fs-6"> Date of Volunteered</label>
                                                    <input asp-for="date" type="datetime-local" placeholder="Enter Date " class="py-1 datediv rounded-1 col-12 " />


                                                </div>
                                                <div class="row mt-1">
                                                    <label class=" col-8 fs-6"> Enter Your Message</label>

                                                    <textarea  asp-for="message" class=" datediv rounded-1 mt-1 " placeholder="Leave a comment here" id="floatingTextarea"></textarea>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="rounded-pill bg-white px-3 py-1" data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="rounded-pill addbtn  px-3 py-1">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="row overflow-y-auto  " id="detail2" style="height:300px;">
                    <table class="table table-borderless ">
                        <thead>
                            <tr>
                                <th scope="col">Mission</th>
                                <th scope="col">Date </th>
                                <th scope="col">Action</th>

                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                                @foreach(var k in Model.timesheetslist)
                            {
                                @if(k.Action!=null && k.DeletedAt==null)
                                {
                            <tr>

                                <td> @k.Mission.Title</td>
                                <td> @k.DateVolunteered.ToString().Split(" ")[0]</td>
                                <td> @k.Action</td>

                                <td class="d-flex align-items-center mt-1"> <i class="bi bi-pencil-square editimg"></i></td>
                                        <td> <img src="~/images/bin.png" id="@k.TimesheetId" onclick="deletedata(this.id)"  /></td>
                            </tr>
                                }
                                }

                        </tbody>

                    </table>
                </div>
            </div>
        </div>


    </div>
    <script  src="~/js/Volunteeringtimesheet.js" asp-append-version="true"></script>
</body>
</html>