@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/_relatedmission_partial.css" />
</head>
<body>

    <div class="container related ">
        <hr style="border:2px solid black;" />
        <h1 class="text-center"> Related Mission</h1>
        <div class="row ltg">
            @if (ViewBag.relatedmissioncount == 0)
            {

                <div class=" col-12 mb-5  "> <h1 class=" ">No Mission </h1> </div>


            }
           
            else
            {

                @foreach (var items in ViewBag.relatedmission)
                {
             
                

                    <div class="missioncard col-12 col-md-6 col-lg-4">
                        <div class="card">
                                        


                            <div class="img-event">
                                <img class="card-img-top missionimg"
                                     src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" alt="Card image cap">

                                <div class="landing-page-top-right"><img src="~/images/pin.png" alt=""> @items.Cityname</div>

                                <div class="landing-page-bottom-right d-flex flex-column">
                                    <button class="mb-2 landing-page-btn-img">
                                        <img src="~/images/heart.png" alt="">
                                    </button><button class="landing-page-btn-img">
                                        <img src="~/images/user.png" alt="">
                                    </button>
                                </div>

                                <button class="theme-btn ">@items.Themename</button>
                            </div>




                            <div class="card-body">
                                <h5 class="card-title mt-3">@items.Title</h5>
                                <p class="card-text">
                                    @items.ShortDescription
                                </p>
                                <div class="d-flex">
                                    <p class="me-auto">@items.OrganizationName</p>
                                    <div>
                                        <img src="../HTML/images/selected-star.png" alt="">
                                        <img src="../HTML/images/selected-star.png" alt="">
                                        <img src="../HTML/images/selected-star.png" alt="">
                                        <img src="../HTML/images/star.png" alt="">
                                        <img src="../HTML/images/star.png" alt="">

                                    </div>
                                </div>

                                <!-- <hr>
                                <button class="btn-time"> From 10/01/2019 until 25/02/2019</button> -->
                                @if (items.MissionType == "Time")
                                {
                                    <div class="rule d-flex mt-1">
                                        <hr>
                                        <button class="date-btn mt-1">From @items.StartDate until @items.EndDate</button>
                                        <hr>
                                    </div>
                                }
                                else
                                {
                                    <div class="rule d-flex mt-1">
                                        <hr>
                                        <button class="date-btn mt-1">@items.GoalObjectiveText</button>
                                        <hr>
                                    </div>
                                }

                                <div class="d-flex ">
                                    <div class="d-flex me-auto  col-6">
                                        <img src="~/images/Seats-left.png" alt="" class="mt-2">
                                        <div class="ms-2 ">
                                            <fs-2>
                                                @items.Availability<fs-2>
                                                    <br>
                                                    <fs-5> seats left</fs-5>
                                        </div>
                                    </div>
                                    @if (items.MissionType == "Time")
                                    {
                                        <div class="d-flex col-6">
                                            <img src="~/images/deadline.png" alt="" class="mt-2">
                                            <div class="ms-2 ">
                                                <fs-2>@items.EndDate</fs-2><br>
                                                <fs-5>Deadline</fs-5>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex me-3 col-6">
                                            <img src="~/images/achieved.png" alt="" class="mt-2">
                                            <div class="ms-2 ">
                                                <div class="progress mt-2" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                    <div class="progress-bar bg-warning" style="width: 25%">25%</div>
                                                </div>
                                                <fs-5>Deadline</fs-5>
                                            </div>
                                        </div>
                                    }

                                </div>

                                <hr>
                                <a class="text-decoration-none" href="/Volunteering/Volunteering?missionid=@items.MissionId">
                                    <button type="submit" class="applybtn d-flex">
                                        <span class="applytxt">Apply</span>
                                        <div>
                                            <img src="~/images/right-arrow.png" alt="" class=" ms-2 ">
                                        </div>
                                    </button>
                                </a>


                            </div>

                        </div>
                    </div>


                }
                
            }


    </div>

    </div>

</body>
</html>