@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@model List<CI_Entity.Models.Mission>*@
@*  @model CI.Models.FiltersModel*@

@*@{
    Layout = "_navbar";
}*@
@{
    var id = Context.Session.GetString("userID");

}

@{
    Layout = "_navbar";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
   
<link rel="stylesheet" href="~/css/landingpage.css" asp-append-version="true">
</head>
<body>
<div class="container grid-container    ">
    <div class="row  mb-2">

        <div class="d-flex">

            <div class="firstdiv  me-auto d-flex">
                <p class="fs-4 me-2">Explore </p>

                <h3>@ViewBag.TotalMission Missions</h3>
            </div>

            <div class="sortlistgrid  d-flex ">


                <div class="dropdown sort me-2 mt-1">
                    <button class=" btn sort-btn dropdown d-flex " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="sortby me-5 "> Sort By</span>
                        <img src="~/images/drop-down.png" alt="" class="sortaerrow">
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-route-sortorder="Newest">Newest</a></li>
                        <li><a class="dropdown-item" asp-route-sortorder="Oldest">Oldest  </a></li>
                        <li><a class="dropdown-item" asp-route-sortorder="Lowest seats">Lowest available seats  </a></li>
                        <li><a class="dropdown-item" asp-route-sortorder="Highest seats"> Highest available seats </a></li>
                        <li><a class="dropdown-item" asp-route-sortorder="favourites"> My favourites </a></li>
                        <li><a class="dropdown-item" asp-route-sortorder="Registration deadline"> Registration deadline  </a></li>
                    </ul>
                </div>


                <div class=" me-2 mt-1">
                    <button onclick="grid()" class="grid "> <img src="~/images/grid.png" alt=""></button>
                </div>
                <div class=" mt-1 me-4">
                    <button onclick="list()" class="list"><img src="~/images/list.png" alt=""></button>
                </div>

            </div>

        </div>

    </div>

    <div class="row ltg">

        @foreach (var item in Model)
        {

            <div class="missioncard col-12 col-md-6 col-lg-4">
                <div class="card">



                    <div class="img-event">
                        <img class="card-img-top missionimg"
                             src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" alt="Card image cap">
                             @if(id!=null){
                                
                            
                            <div class="appliedbtn rounded-end" style="@(@item.isApplied?  "display:block;": "display:none;")">Applied</div>
                             }
                             <div class="closedbtn rounded-end">closed</div>
                        <div class="landing-page-top-right"><img src="~/images/pin.png" alt="">@item.Cityname </div>

                        <div class="landing-page-bottom-right d-flex flex-column">
                            @if(id ==null)
                            {
                                <button class="mb-2 landing-page-btn-img" id="favmissiondiv" onclick="alertmsg();">

                                    <i class="bi bi-heart-fill " style="color:white;"></i>

                                </button>
                                    <button class="landing-page-btn-img" type="button" onclick="alertmsg();">
                                    <img src="~/images/user.png" alt="">
                                </button>

                            }
                            else
                            {
                                <button class="mb-2 landing-page-btn-img" id="favmissiondiv" onclick="addtofav(@item.MissionId,@id)">

                                    <i class="bi bi-heart-fill" style="@(@item.isFavriout ? "color:#F88634;" : "color:white;")" id="heart-@item.MissionId"></i>

                                </button>


                                <button class="landing-page-btn-img" type="button" id="@item.MissionId" onclick="addID(this.id)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <img src="~/images/user.png" alt="">
                                </button>

                                <div class="modal fade  col-6" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Send Recomandation to Friend</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body overflow-y-auto " style="height:200px; ">
                                                @foreach (var user in ViewBag.allavailuser)
                                                {
                                                    <div class=" userlistdiv align-items-center d-flex my-3">
                                                        <img src="~/images/volunteer1.png" class="aviluser ms-2 my-1">
                                                        <label class=" ms-4  me-auto">   @user.username  @user.lastname </label>
                                                        <input class="form-check-input me-2 " type="checkbox" value="" id="@user.userEmail" name="email">
                                                    </div>
                                                }
                                            </div>
                                            <div class="modal-footer">

                                                <button type="button" class="btn btn-primary" onclick="sendRecom(@id)">Send Recomandation</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                         
                        </div>

                        <button class="theme-btn ">@item.Themename</button>
                    </div>



                    <div class="card-body ">
                        <div class=" col-12">
                            <h5 class="card-title demo-1  mt-3">@item.Title</h5>
                            <p class="card-text demo-2">
                                @item.ShortDescription
                            </p>
                        </div>


                        <div class="d-flex mt-1">
                            <p class="me-auto">
                                @item.OrganizationName
                            </p>
                            <div>
                                @if (item.AvrageRating != null)
                                {
                                    for (int i = 0; i < item.AvrageRating; i++)
                                    {
                                        <img src="~/images/selected-star.png">

                                    }
                                    for (int i = item.AvrageRating; i < 5; i++)
                                    {
                                        <img src="~/images/star.png">

                                    }
                                }





                            </div>
                        </div>
                        @*From @item.StartDate.ToString().Split(" ")[0] until  @item.EndDate.ToString().Split(" ")[0]*@
                        @if (@item.MissionType == "Time")
                        {
                            <div class="rule mt-1">
                                <hr>
                                <button class="date-btn mt-1"> From @item.StartDate until  @item.EndDate</button>
                                <hr>
                            </div>
                        }
                        else
                        {
                            <div class="rule mt-1">
                                <hr>
                                <button class="date-btn mt-1"> @item.GoalObjectiveText </button>
                                <hr>
                            </div>
                        }

                        <div class="d-flex mt-1">
                            <div class="d-flex me-auto  col-6 ms-2">
                                <img src="~/images/Seats-left.png" alt="" class="mt-2">
                                <div class="ms-2 ">
                                    <fs-2>@item.Availability</fs-2><br>
                                    <fs-5> seats left</fs-5>
                                </div>
                            </div>
                            @if (item.MissionType == "Time")
                            {
                                <div class="d-flex col-6">
                                    <img src="~/images/deadline.png" alt="" class="mt-2">
                                    <div class="ms-2 ">
                                        <fs-2>@item.EndDate</fs-2><br>
                                        <fs-5>Deadline</fs-5>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex me-3 col-6">
                                    <img src="~/images/achieved.png" alt="" class="mt-2">
                                    <div class="ms-2 ">
                                        <div class="progress mt-2" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar bg-warning" style="width: 25%">25%</div>
                                        </div>
                                        <fs-5>Deadline</fs-5>
                                    </div>
                                </div>
                            }


                        </div>

                        <hr>
                        @if(id==null)
                        {
                            <a class="text-decoration-none">
                                    <button type="submit" class="applybtn d-flex" onclick="alertmsg();">
                                        <span class="applytxt">View detail</span>
                                    <div>
                                        <img src="~/images/right-arrow.png" alt="" class=" ms-2 ">
                                    </div>
                                </button>
                            </a>
                            
                        }
                        else
                        {
                            
              
                        <a class="text-decoration-none" href="/Volunteering/Volunteering/@id?missionId=@item.MissionId">
                            <button type="submit" class="applybtn d-flex">
                                <span class="applytxt">View detail</span>
                                <div>
                                    <img src="~/images/right-arrow.png" alt="" class=" ms-2 ">
                                </div>
                            </button>
                        </a>
                        }

                    </div>

                </div>
            </div>
        }

    </div>


</div>
<nav aria-label="Page navigation example" class="d-flex justify-content-center">
    <ul class="pagination">
        @if (@ViewBag.currentUrl.Contains('?'))
        {
            <li class="page-item @(ViewBag.CurrentPage == 0 ? "disabled" : "")">
                <a class="page-link" href="@ViewBag.currentUrl&pageIndex=@(ViewBag.CurrentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 0; i < ViewBag.TotalPages; i++)
            { 
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@ViewBag.currentUrl&pageIndex=@i">@((i + 1).ToString())</a>
                </li>
            }
            <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages - 1 ? "disabled" : "")">
                <a class="page-link" href="@ViewBag.currentUrl&pageIndex=@(ViewBag.CurrentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
        else
        {
            <li class="page-item @(ViewBag.CurrentPage == 0 ? "disabled" : "")">
                <a class="page-link" href="@ViewBag.currentUrl?pageIndex=@(ViewBag.CurrentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 0; i < ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@ViewBag.currentUrl?pageIndex=@i">@((i + 1).ToString())</a>
                </li>
            }
            <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages - 1 ? "disabled" : "")">
                <a class="page-link" href="@ViewBag.currentUrl?pageIndex=@(ViewBag.CurrentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
    </ul>
</nav>





<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    var card = document.getElementsByClassName("missioncard");
    var cardimg = document.getElementsByClassName("missionimg");
    var carddisplay = document.getElementsByClassName("card");
    var theme = document.getElementsByClassName("theme-btn");

    if (localStorage.getItem("view") === "list") {
        list();
    }
    function list() {
        localStorage.setItem("view", "list");
        for (i = 0; i < card.length; i++) {
            card[i].style.width = "100%";
            card[i].style.marginTop = "1%";
            carddisplay[i].style.display = "flex";
            carddisplay[i].style.flexDirection = "row";
            // cardimg[i].style.width = "40%";
            cardimg[i].style.height = "100%";
            theme[i].style.top = "97%";
            theme[i].style.left = "20%";



        }

    }
    function grid() {
        localStorage.setItem("view", "grid");
        for (i = 0; i < card.length; i++) {


            if (screen.width > 1023) {
                card[i].style.width = "33%";
                carddisplay[i].style.flexDirection = "column";
                cardimg[i].style.width = "100%";
                theme[i].style.top = "95%";
                theme[i].style.left = "35%";
            }
            else {
                card[i].style.width = "50%";
                carddisplay[i].style.flexDirection = "column";
                cardimg[i].style.width = "100%";
                theme[i].style.top = "95%";
                theme[i].style.left = "35%";

            }
            // else if (screen.width<768){

            // }



        }

    }




</script>
<script>
    var missionid1=0;
    function addID(missionid){
        missionid1 = missionid
    }
    function addtofav(missionId, Id)
    {
        $.ajax({
            url: '/Volunteering/Addfav',
            type: 'POST',
            data: { missionId: missionId, Id: Id },
            success: function (result)
            {
                if (result.favmission == "0") {
                    
                    var favbtn = document.getElementById("favmissiondiv");
                    var heartbtn = document.getElementById("heart-" + missionId.toString());
                    heartbtn.style.color = "#F88634";
                    favbtn.style.color = "orange"
                   
                }
                else {
                  
                    var favbtn = document.getElementById("favmissiondiv");
                    var heartbtn = document.getElementById("heart-" + missionId.toString());
                    heartbtn.style.color = "white";
                    favbtn.style.color = "white"
                   
                }
                
            }
        });
        }

        function sendRecom(Id) {

            var Email = Array.from(document.querySelectorAll('input[name="email"]:checked')).map(e => e.id);
            $.ajax
                ({
                    url: '/Volunteering/sendRecom',
                    type: 'POST',
                    data: { missionid: missionid1, Id: Id, Email: Email },
                    success: function (result) {
                        alert("Recomendations sent successfully!");
                        const checkboxes = document.querySelectorAll('input[name="email"]:checked');
                        checkboxes.forEach((checkbox) => {
                            checkbox.checked = false;
                        });
                    },
                    error: function () {
                        // Handle error response from the server, e.g. show an error message to the user
                        alert('Error: Could not recommend mission.');
                    }
                });

        }
        function alertmsg(){
            alert('please Login/register First');
        }
    </script>
</body>
</html>